
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Satisfy&display=swap");

/* Color variables */
:root {
    --main-color: #D11067;
    --dark-color: #7A1628;
    --yellow: #FFF616;
    --text-color-field: #FFFFFF33;
    --text-color: #172655;
    --bg-light-yellow: #FEFBF4;
    --bg-dark-gray: #333333;
    --bg-light-green: #DEF5F0;
    --bg-light-blue: #E3EDFD;
    --bg-light-orange: #F7E9E7;
    --border-color: #EDEDED;
}

/* RESET STYLES */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    counter-reset: instructor-counter;
}

/*************************************************************
********  G L O B A L   S T Y L E S  *************************
**************************************************************/
html {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

body {
    background-color: white;
    color: var(--text-color);
}

header{
    background-color: var(--main-color);
}

.header-background {
    background-image: url('../img/blackboard.jpg');
    background-size: cover;
    color: white;
}

.main-content > div.section {
    padding: 3em 0em;
}

footer{
    background-color: var(--footer);
}

a {
    color: var(--main-color);
    text-decoration: none;
}

.container {
    width: 94%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.image-border {
    border-radius: 1em;
}

.round-border {
    border-radius: 50%;
    padding: 1.25em;
}

.flex-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

button,input {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

/* Angular quotes */
q {
    quotes: "«" "»";
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

/********** Typography Styles ********************/
.montserrat-400 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.montserrat-500 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.montserrat-700 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}
.satisfy-title {
    font-family: "Satisfy", cursive;
    font-size: 60px;
    line-height: 1em;
}
.satisfy-header {
    font-family: "Satisfy", cursive;
    font-size: 55px;
}
.main-title {
    font-size: 35px;
}
.title {
    font-size: 30px;
}
.subtitle {
    font-size: 24px;
}
.xx-large {
    font-size: 20px;
}
.x-large {
    font-size: 18px;
}
.large {
    font-size: 16px;
}
.xx-small {
    font-size: 12px;
}
.x-small {
    font-size: 13px;
}
.small {
    font-size: 14px;
}
.weight-bold {
    font-weight: bold;
}
.weight-normal {
    font-weight: normal;
}

.main-content h1 {
    color: var(--main-color);
}
.main-content h2, h3 {
    color: var(--dark-color);
}

.main-content a.mail {
    color: var(--main-color);
}

/********** SKIP TO MAIN CONTENT ********************************************************************/
.skip-to-main-content-link {
    position: absolute; /*Positions the link absolutely on the page, allowing it to be placed anywhere.*/
    bottom: 0px;
    left: -9999px; /*Moves the link far off-screen to the left, making it invisible to sighted users.*/
    z-index: 999; /*Sets a high z-index, ensuring that the link will be on top of other page elements if it becomes visible.*/
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0; /*Sets the link's opacity to 0, making it fully transparent and invisible.*/
}
  
.skip-to-main-content-link:focus {
    left: 50%; /* When the link receives focus (e.g., when a keyboard user tabs to it), it is repositioned horizontally to the centre of the screen.*/
    transform: translateX(-50%); /*This centres the link horizontally by moving it back to the left by 50% of its own width.*/
    opacity: 1; /*The link's opacity is set to 1, making it fully visible.*/

}

/********** HEADER ********************************************************************/
header a {
    color: white;
}
.header-bar > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-bar > .container * {
    margin: 0.2em 0.2em;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
}

.header-main > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0em;
}

.logo {
    display: flex;
    justify-content: space-between;
}
.logo img, .footer-info img{
    max-width: 200px;
}

/* MENU */
.main-menu li {
    margin-bottom: 2em;
    margin-left: 4em;
}

.main-menu li a {
    text-decoration: none;
    padding: 1em;
    border-bottom: 4px solid transparent;
}

.main-menu li a:not(.current):hover {
    border-bottom-color: white;
}

.main-menu,
.toggle-menu .menu-close {
    /* Hide the menu and close button */
    display: none;
}

#toggle-menu-checkbox:checked ~ .main-menu,
#toggle-menu-checkbox:checked ~ .toggle-menu .menu-close {
    /* Show the menu and close button */
    display: block;
}

#toggle-menu-checkbox:checked ~ .toggle-menu .menu-open {
    /* Hide the open button */
    display: none;
}

.toggle-menu {
    position: relative;
    width: 40px;
    z-index: 1;
    place-content: center;
    font-size: 4rem;
}

.menu-close, 
.menu-open {
    cursor: pointer;
}

.main-menu {
    background-color: black;
    position: fixed;
    top: 0em;
    left: 100%;
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 6em 2em;
    list-style: none;
    font-weight: bold;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: transform 0.3s;
    transform: translateX(-100%);
}

.main-menu--show {
    transform: translateX(0);
}

.toggle-menu__checkbox {
    display: none;
}

.toggle-menu__checkbox:checked ~ .main-menu {
    transform: translateX(0);
}

.current {
    color: var(--yellow);
}

/* Header Extra */
.header-extra, .header-search, .header-features {
    padding: 1em 0em;
}

.header-extra {
    text-align: center;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.header-search {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.header-search > p {
    padding: 3em 0em;
}

.header-search > h1 > span {
    color: var(--yellow);
}

.header-features{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header-features > * {
    padding: 2em 0em;
}

.input-button {
    display: flex;
    padding: 0.6em;
    border-radius: 2em;
}

.input-button input {
    flex: 1;
    padding: 1em;
    border: none;
    border-radius: 2em;
}

.input-button button {
    padding: 1em 1.5em;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-button button img {
    margin-right: 5px;
}

.input-button button span {
    display: inline-block;
}

.input-search {
    background-color: white;
}

.input-search button{
    background-color: var(--main-color);
    color: white;
}

.input-search button:hover{
    background-color: var(--text-color);
}

/************* FOOTER ******************************************************************/
footer {
    background-color: var(--text-color);
    color: white;
    padding: 2em 0em;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer > .container > *, .footer-info > *  {
    padding: 1em 0em;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: max-content; /* Adjust subscribe input width to footer menu width */
}

.footer-menu {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1em 0em;
}

.footer-menu ul {
    list-style-type: none;
    padding: 0em;
    text-align: left;
}

.footer-menu ul li {
    display: inline;
    padding-right: 1em;
}

footer .credits a {
    background-color: var(--text-color-field);
}

.input-subscribe {
    background-color: var(--text-color-field);
    width: 100%;
    margin: 1em 0em;
}

.input-subscribe input {
    background-color: transparent;
    color:white;
}

.input-subscribe button{
    background-color: white;
    color: var(--text-color);
    padding: 1em;
    border-radius: 50%;
}

.input-subscribe button:hover{
    background-color: var(--main-color);
}

.input-subscribe button:hover img{
    filter: invert(1);
}

/*************************************************************
********  I N D E X . H T M L  *******************************
**************************************************************/
.button-transparent-main {
    display: inline-block;
    background-color: transparent;
    color: var(--main-color);
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 1.5em;
    width: fit-content;
}

.button-transparent-main:hover {
    background-color: var(--main-color);
    color: white;
}

.button-transparent-white {
    display: inline-block;
    background-color: transparent;
    color: white;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 1.5em;
}

.button-transparent-white:hover {
    border-color: var(--yellow);
    color: var(--yellow);
}

/**************** Popular courses section ********************************************/
.popular-courses{
    background-color: white;
}

.popular-courses > div:last-child {
    text-align: center;
    padding-top: 4em;
}
.popular-courses > * {
    padding: 0.2em 0em;
}

.popular-courses > h1 {
    color: var(--main-color);
}

.top-courses-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1 columns same width */
    gap: 37px;
}

/* Card Course */
.card-course {
    height: 340px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    background-color: white;
    color: var(--text-color);
}

.card-course:hover {
    border-color: var(--text-color);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.card-course:hover img{
    transition: transform 0.3s;
    transform: scale(1.1);
}

.card-course:not(:hover) img{
    transition: transform 0.3s;
    transform: scale(1);
}

.card-course-image {
    border-radius: 15px 15px 0px 0px;
    position: relative;
    max-width: 100%;
    height: 60%;
    overflow: hidden; /* Crop image in card-course-image */
}

.card-course-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-course-new {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--main-color);
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
}

.card-course-best-seller {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--yellow);
    color: var(--main-color);
    padding: 5px 10px;
    border-radius: 12px;
}

.card-course-content {
    padding: 15px;
}

.card-course-content h2 {
    color: var(--dark-color);
    margin: 0 0 10px;
}

.card-course-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}

.card-course-details span {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.card-course-icon {
    margin-right: 5px;
    color: var(--bg-dark-gray);
}

/***************** Get Started Section ************************************/
.get-started {
    color: white;
    background-image: url('../img/learn-path.jpg');
    background-size: cover;
    text-align: center;
}

.get-started h1 {
    color: white;
}

/***************** Learning solutions section ************************************/
.learning-solutions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.learning-solutions > * {
    width: 50%;
    margin: 0em 6em;
}
.learning-solutions p.satisfy-title{
    color: var(--dark-color);
}

.grid-learning-solutions {
    display: grid;
    grid-template-columns: auto 1fr; /* Auto-adjust width columns */
    grid-template-rows: repeat(4, 1fr); /* 4 rows same height */
    gap: 37px;
    align-items: center;
}

.bg-light-green {
    background-color: var(--bg-light-green);
}

.bg-light-blue {
    background-color: var(--bg-light-blue);
}

.bg-light-orange {
    background-color: var(--bg-light-orange);
}

.learning-solutions-content > p:first-child {
    color: var(--dark-color);
}

/***************** Top Categories section ************************************/
.top-categories {
    text-align: center;
    background-color: var(--border-color);
    box-shadow: inset 0px 10px 10px -10px rgb(0,0,0,0.2);
}

.top-categories > div > h1 {
    color: var(--main-color);
}

.top-categories-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1 columns same width */
    gap: 37px;
}

.card-category {
    color: white;
    padding: 3em;
    background-color: var(--text-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-category > p:first-child {
    font-weight: bold;
}

.card-category:hover {
    background-color: var(--main-color);
}

/***************** Become Instructor Section ************************************/
.become-instructor {
    background-color: var(--bg-light-orange);
    box-shadow: inset 0px 10px 10px -10px rgb(0,0,0,0.2);
}

.become-instructor > .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.become-instructor > div > * {
    width: 50%;
    margin: 0em 2em;
}

.become-instructor h1 {
    color: var(--dark-color);
}

/*************************************************************
********  C O N T A C T . H T M L  ***************************
**************************************************************/
.contact-main {
    display: flex;
    flex-direction: column;
}
.contact-main > *, .offices-grid {
    margin-bottom: 4em;
}
.ambassador-card h3 {
    color: var(--text-color);
}
.offices-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1 columns same width */
    gap: 2px;
}
.ambassadors-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 1 columns same width */
    gap: 2px;
}
.ambassador-card {
    padding: 1.5em;
    text-align: center;
    background-color: var(--border-color);
}

.ambassador-card a.ambassador-card-translate {
    text-decoration: underline;
    color: var(--dark-color);
}

.ambassador-card > div {
    display: inline-block;
    max-width: fit-content;
    position: relative;
}

.ambassador-card .ambassador-card-picture {
    padding: 0em;
    border-radius: 50%;
    border: 4px solid var(--text-color);
}

.ambassador-card .ambassador-card-country {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 0;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    border: 4px solid white;
    object-fit: cover;
}

/* Form Contact */
.contact-form {
    background-color: var(--bg-light-orange);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form select {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    width: 100%;
    padding: 8px;
    margin: 0.5em 0em;
    margin-right: 2em;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
    width: calc(100% - 20px);
}

.contact-form button {
    background-color: var(--text-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--main-color);
}

.contact-form > form > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: max-content; /* Adjust subscribe input width to footer menu width */
}

.contact-form > form > div > div {
    width: fit-content;
}

/*************************************************************
****  B E C O M E - A N - I N S T R U C T O R . H T M L  *****
**************************************************************/
.instructor-main {
    display: flex;
    flex-direction: column;
}

.steps-list, .steps-list-detail, .steps-list-detail > *, .career-path {
    margin-bottom: 4em;
}

.instructor-main > img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.instructor-main .steps-list {
    border: 4px solid var(--main-color);
    color: var(--main-color);
    font-weight: bold;
    padding: 1em 2.5em;
}

.instructor-main .steps-list li {
    padding: 0.75em 0em;
}

.instructor-main .steps-list li a {
    color: var(--main-color);
}

.instructor-main ol.steps-list-detail {
    list-style: none;
    padding: 0;
}

.instructor-main ol.steps-list-detail > li {
    position: relative;
    padding-left: 2.5em;
    font-size: 15px;
    counter-increment: instructor-counter;

}

.instructor-main ol.steps-list-detail > li > h3 {
    color: var(--text-color);
    display: inline-block;
    vertical-align: middle;
    margin: 0em;
}

.instructor-main ol.steps-list-detail > li::before {
    content: counter(instructor-counter);
    display: inline-block;
    border: 1px solid var(--text-color);
    padding: 0.3em 0.5em;
    font-weight: bold;
    color: var(--text-color);
    position: absolute;
    left: 0;
    top: 0;
}

.instructor-main ul.list-academic {
    list-style-image: url('../img/icon-academic.svg');
}

.instructor-box {
    border: 1px solid var(--bg-light-blue);
    padding: 0em 1em 1em 1em;
    margin-bottom: 1em;
}

.career-path {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.career-path h3 {
    color: var(--text-color);
}

.career-path > div {
    border: 1px solid var(--text-color);
}

.career-path > div > div:first-child{
    padding-left: 1em;
    background-color: var(--bg-light-blue);
    border-bottom: 1px solid var(--text-color);
}

.career-path > div > div:first-child h3{
    margin: 0em;
    padding: 0.5em 0em;
}

ol.career-path-list > li::after {
    border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 1.5em;
    width: 1.5em;
	left: 7em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
    align-content: center;
	top: 0;
	transform: rotate(135deg);
}

ol.career-path-list {
    font-weight: bold;
}

ol.career-path-list > li {
    margin-bottom: 1.5em;
    position: relative;
    counter-increment: list-counter;
}

.career-path-list > li h3 {
    color: var(--text-color);
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.career-path-list ul {
    font-size: 15px;
    list-style: none;
    font-weight: normal;
    padding: 0;
    margin: 0.5em 0 0 0.5em;
}

.career-path-list ul li {
    margin-bottom: 0.5em;
    position: relative;
    padding-left: 2em; /* Space for the icons */
}

.career-path-list ul li.experience::before {
    content: url('../img/calendar.svg'); /* Replace with the actual URL or path to your icon */
    position: absolute;
    left: 0;
    top: 0;
}

.career-path-list ul li.salary::before {
    content: url('../img/money.svg'); /* Replace with the actual URL or path to your icon */
    position: absolute;
    left: 0;
    top: 0;
}

.career-path-list ul li.jobs::before {
    content: url('../img/wallet.svg'); /* Replace with the actual URL or path to your icon */
    position: absolute;
    left: 0;
    top: 0;
}


/*************************************************************
********  M E D I A   Q U E R I E S  *************************
**************************************************************/
/* Tablet version */
@media (min-width: 768px) {
    
    .header-bar > .container {
        justify-content: space-between;
        flex-direction: row;
    }
    
    .header-features{
        flex-direction: row;
    }
    
    .top-courses-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .top-categories-grid {
        grid-template-columns: repeat(2, 1fr); /* 4 columns same width */
    }

    .offices-grid {
        grid-template-columns: repeat(2, 1fr); /* 4 columns same width */
    }

    /* third element */
    .offices-grid > .office-card:nth-child(3) {
        grid-column: span 2; /* span 2 rows */
    }

    .ambassadors-grid {
        grid-template-columns: repeat(2, 1fr); /* 4 columns same width */
    }

    .become-instructor > .container{
        flex-direction: row;
    }
    
    .footer-info {
        flex-direction: column-reverse;
    }
    .contact-form {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .instructor-box > ul {
        column-count: 3;
        column-gap: 2em;
    }
}

/* Desktop Version */
@media (min-width: 992px) {
    
    .toggle-menu {
        display: none;
    }
    
    .toggle-menu__checkbox:checked ~ .main-menu {
        transform: translateX(-100%);
    }
    
    .main-menu {
        position: inherit;
        flex-direction: row;
        transform: translateX(-100%);
        background-color: transparent;
        padding: 0em;
        display: block;
    }
    
    .contact {
        display: flex;
        justify-content: center;
    }

    .social {
        display: flex;
        justify-content: center;
    }    
    
    .main-nav {
        position: relative;
    }
    
    .main-menu > li {
        display: inline;
    }
    
    .main-nav > label {
        display: none;
    }
    
    #login:hover{
        color: var(--main-color);
        border-bottom: none;
    }
    
    #signup {
        background-color: white;
        color: var(--dark-color);
        padding: 10px 20px;
        border-radius: 20px;
        border-bottom: none;
    }
    
    #signup:hover {
        background-color: var(--main-color);
        color: white;
    }
    
    .top-courses-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .learning-solutions {
        flex-direction: row;
    }
    
    .top-categories-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns same width */
    }
    
    /* third element */
    .top-categories-grid > .card-category:nth-child(3) {
        grid-row: span 2; /* span 2 rows */
    }
    
    .footer-info {
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .main-menu li a.current {
        border-bottom-color: var(--yellow);
    }

    .contact-main {
        flex-direction: row;
    }
    .contact-form {
        margin-left: 2em;
        height: fit-content;
        position: sticky;
        top:0;
    } 
    .instructor-main {
        flex-direction: row;
    }
    .career-path {
        margin-top: 2em;
        margin-left: 2em;
        height: fit-content;
        position: sticky;
        top:0;
    } 
}
